.dasmoto {
color: khaki;
font-family: Arial, Helvetica, sans-serif;
font-size: 100px;
font-weight:bold;
text-align: center;
};

.mainSection {
    background-image: url("")
};

.hb {
    background-color: mediumseagreen;
};

.Brushes {
    background-color: #cccccc;
};

.hf {
background-color: lightcoral;
};

.Frames {
    background-color: #cccccc;
};

.hp {
background-color: skyblue;
};

.Paint {
    background-color: #cccccc;
};

.feet {
    background-image: url("")
};